body{
    background-color: mediumaquamarine;
}
img{
    height: 450px;
    width: 700px;
    padding-left: 250px;
}
h1{
    color: midnightblue;
}
h2{
    border-top-style: groove;
    border-right-style: solid;
    border-bottom-style: groove;
    border-left-style: solid;
}
h4{
    font-family: 'Dancing Script', cursive;
}
